.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 25px;
    color: lightgray;
    cursor: pointer;
    transition: color 0.3s;
}

.rating input:checked ~ label {
    color: gold;
}
